<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>survey</title>
</head>

<body>
    <form action="/results" method="POST">

    <h2>Survey</h2>
    <h3>What's your name</h3>
    <label for="names">Answer</label>
    <input type="text" id="names" name="names" required>

    <h3>What's your age</h3>
    <label for="age">Answer</label>
    <input type="text" id="age" name="age" required>


    <h3>What's your hobby</h3>
    <label for="hobby">Answer</label>
    <input type="text" id="hobby" name="hobby" required>


    <h3>What's your gender</h3>
    <label for="gender">Answer</label>
    <input type="text" id="gender" name="gender" required>


    <h3>Are you a graduate</h3>
    <label for="graduate">Answer</label>
    <input type="text" id="graduate" name="graduate" required>

    <button type="submit" class="login-btn">Submit</button>

    </form>
</body>